@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./mixins.scss";
@import "./common.scss";
@import "./variables.scss";

html,
body {
	width: 100%;
	font-family: $fontFamily;
	margin: 0;
	//TODO this must change
	overflow-x: hidden;
}

body ::-moz-selection,
html ::-moz-selection {
	color: $primaryBackgroundColor;
	background: $secondaryBackgroundColor;
}
body ::selection,
html ::selection {
	color: $primaryBackgroundColor;
	background: $secondaryBackgroundColor;
}

.heroImage {
	background-color: $primaryBackgroundColor;
	@include section;
	min-height: 75vh;

	.content {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		align-items: center;
		@include rowInDesktopColumnInMobile;
		.textSection {
			.box {
				width: fit-content;
				h1 {
					font-weight: lighter;
					font-size: 3rem;
					text-align: center;
					@include media-breakpoint-up(lg) {
						text-align: left;
						background-color: $secondaryBackgroundColor;
						color: $primaryBackgroundColor;
						width: fit-content;
						padding: $spacer;
						@include borderRadius;
					}
				}
				.subtitle {
					text-align: center;
					@include media-breakpoint-up(lg) {
						text-align: left;
					}
					font-weight: 300;
				}
			}
		}
	}
}

.whatIsBookCommunity {
	@include section;
	background-color: $whiteBackground;
}
.text {
	text-align: center;
	margin-bottom: $spacer;
	@include media-breakpoint-up(lg) {
		text-align: left;
		margin-bottom: $spacer * 2;
	}
	p {
		font-weight: 300;
	}
}

.ourValues {
	@include section;
	background-color: $primaryBackgroundColor;

	.cards {
		.card {
			background-color: white;
		}
	}
}
.newsletter {
	@include section;
	background-color: $secondaryBackgroundColor;
	color: $primaryBackgroundColor;
	min-height: 30vh;
}

.footer {
	@include sameSpaceSection;
	display: flex;

	@include media-breakpoint-up(lg) {
		align-items: center;
		justify-content: center;
	}

	background-color: $primaryBackgroundColor;
	@include rowInDesktopColumnInMobile;

	.sameRow {
		@include rowInDesktopColumnInMobile;
	}
	.form {
		input {
			border: 1px solid $secondaryBackgroundColor;
		}
		@include media-breakpoint-down(md) {
			max-width: 80%;
		}
	}
	.copyright {
		display: flex;
		text-align: center;
		margin-bottom: $spacer;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			text-align: left;
			justify-content: flex-start;
		}

		span {
			margin-bottom: $spacer;
		}
	}
	.socialMedia {
		display: flex;
		column-gap: $spacer;
		justify-content: center;
		svg {
			width: 2rem;
			height: 2rem;
			fill: $secondaryBackgroundColor;
		}
		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

.form {
	@include rowInDesktopColumnInMobile;
	@include media-breakpoint-down(md) {
		margin-left: auto;
		margin-right: auto;
	}

	iframe {
		width: 100%;
		display: flex;
		justify-content: flex-start;
	}
}
